@model IEnumerable<Prueba4Crud.Models.Tbcita>

@{
    ViewData["Title"] = "Index";
}



<p>
    @*<a asp-action="Create">Crear Nueva Cita</a>*@
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.IdCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Previsión)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoCita)
            </th>
            <th >

          
             @*  @Html.DisplayNameFor(model => model.IdDoctorNavigation) *@
                <p>Doctor </p>
            <th>
                <p>Paciente </p>
                @*@Html.DisplayNameFor(model => model.IdPacienteNavigation)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCita)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Previsión)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctorNavigation.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)

            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning"  asp-route-id="@item.IdCita">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdCita">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdCita">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
