@model IEnumerable<Prueba4Crud.Models.Tbcita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Previsión)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoctorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Previsión)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctorNavigation.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCita">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCita">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCita">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
